<div class="position-fixed top-0 end-0 p-3">
    <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Section added successfully.
        <button type="button" class="btn-close" (click)="hideAlert()" aria-label="Close"></button>
      </div>
    
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  
  <form [formGroup]="ValidationFormUser" (ngSubmit)="addSection()">
      <fieldset disabled>
        <div class="input-container">
          <div class="department">
              <input class="form-control shadow-none" type="text" name="department" placeholder="Elementary" readonly>
          </div>
        </div>
      </fieldset>
      
      <div class="gradelevel">
        <div class="input-container">
          <div class="form-group">
            <select class="form-select shadow-none select-opt" formControlName="grlevel">
              <option [value]="null" disabled>Select Grade</option>
              <option *ngFor="let level of gradelvl" [ngValue]="level">{{ level.name }}</option>
            </select>
          </div>
        </div>
        <div class="errordiv">
          <ng-container *ngFor="let validation of validationMessages.grlevel">
            <div class="error_message" *ngIf="ValidationFormUser.get('grlevel')?.hasError(validation.type) && (ValidationFormUser.get('grlevel')?.dirty || ValidationFormUser.get('grlevel')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </div>
    
      <div class="section">
        <div class="input-container">
          <input class="form-control" (input)="capitalizeFirstLetter($event, 'section')" type="text" name="section" placeholder="Section" formControlName="section">
        </div>
        <ng-container *ngFor="let validation of validationMessages.section">
          <div class="errordiv" *ngIf="ValidationFormUser.get('section')?.hasError(validation.type) && (ValidationFormUser.get('section')?.dirty || ValidationFormUser.get('section')?.touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
  
      <div class="addsectdiv">
        <button class="btn addsectbutton" type="submit" [disabled]="!ValidationFormUser.valid">Add Section</button>
      </div>
    </form>
    