<div class="links d-flex">
    <a class="classes" [routerLink]="['/teacher/analytics/student-analytics']">Classes </a>
    <p class="next">></p>
    <a class="active"><b>{{ gradeLevelName}} - {{ sectionName }}</b></a>
</div>

<ng-container *ngIf="studentsList.length > 0; else noDataFound">

    <div class="classes-container" *ngFor="let student of studentsList" [routerLink]="['../../../../indiv-analytics', student.id]">
        <div class="data-container" >
            <div class="secion-subject">
                <h5>{{student.lname}}, {{student.fname}}</h5>
            </div>
            <div class="angle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
    </div>
</ng-container>
    <ng-template #noDataFound>
        <p>No Data Found</p>
    </ng-template>