*{
    font-family: 'Poppins', sans-serif;
}

a{
    color: #000;
    margin-right: 3px;
    text-decoration: none;
}
.form-control:focus {
    box-shadow:none;
 }
a:hover{
    text-decoration: underline;
}
.next{
    margin-right: 3px;
}

.links .active{
    text-decoration: underline;
}
table {
    border-collapse: collapse;
}

table, th, td {
    /* border: 2px solid #000;  */
    text-align: center; 
    font-size: 13px;
}

th {
    background-color: #f2f2f2; 
    font-size: 15px;
}
tr{
    background-color: transparent;
}
.bg-custom{
    background-color: #4ad12f; 
}

.bg-mid{
    background-color: #e9b73a;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.summary{
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 5px;
}
.report-table{
    width: 75%;
}
.classes-container{
    margin-top: 20px;
    background-color: #f0f3f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}
.data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}