*{
    font-family: 'Poppins', sans-serif;
}

.text-header{
    font-weight: 700;
}
.classes-container{
    margin-top: 10px;
    background-color: #f0f3f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}
.data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-container{
    display: flex;
    justify-content: space-between;
}
.select-opt{
    width: 50%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 8px;
}


tr:nth-child(odd) {
    background-color: #fcfdfd;
}

.failed-act{
    font-size: 13px;
    color: white;
    padding: 2px 8px;
    border-radius: 50%;
    background-color: red;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .text-header{
        font-size: 25px;
    }
    .select-container{
        display: flex;
        flex-direction: column;
    }
    .select-opt{
        width: 100%;
    }

}