*{
    font-family: 'Poppins', sans-serif;
}
.header-text{
    font-weight: 700;
}
.classes-container{
    padding: 20px;
    background-color: #f0f3f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}
.data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}
.classes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
@media (max-width: 768px) {
    .classes {
        display: flex;
        flex-direction: column;
    }
  }