<div class="links d-flex align-items-center">
    <h1 class="header-text">Grades</h1>
    <h2 class="next mr-2 ml-2">></h2>
    <h1 class="header-text">Classes</h1>
</div>
<div class="classes mt-2">
    <ng-container *ngIf="assignedSubjects.length > 0; else noDataFound">
    
        <div class="classes-container" *ngFor="let assignment of assignedSubjects" [routerLink]="['section-grades', assignment.deptId, assignment.gradelvlId, assignment.sectionId, assignment.subjectId, assignment.id]">
            <div class="data-container" >
                <div class="secion-subject">
                    <h3 class="fw-bold">{{assignment.subjectName}}</h3>
                    <h6>{{assignment.gradeLevelName}} - {{assignment.sectionName}}</h6>
                    
                </div>
                <div class="angle-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </div>
        </div>
    </ng-container>
</div>
    <ng-template #noDataFound>
        <p>No Data Found</p>
    </ng-template>
