*{
    font-family: 'Poppins', sans-serif;
}

a{
    color: #000;
    margin-right: 3px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.next{
    margin-right: 3px;
}

.links .active{
    text-decoration: underline;
}
.classes-container{
    margin-top: 10px;
    background-color: #f0f3f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}
.data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort-button:hover{
    text-decoration: underline;
}
.learners-names{
    font-weight: 700;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    text-align: left; 
    font-size: 17px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
th {
    background-color: #f2f2f2; 
    font-size: 20px;
}
th[rowspan="3"] {
    width: 60px; 
    font-size: 14px;

}
.hps{
    text-align: right;
    font-size: 12px;
}
.student-name{
    text-align: left;
}
tr:hover{
    background-color: rgb(225, 225, 235);
}
.tbl-headers{
    justify-content: space-between;
}
/* 
.select-opt{
    max-width: 200px;
} */
.quarterly-grade{
    font-weight: bold;
}

.header{
    text-align: left;
    font-size: 15px;
}
.class-record{
    font-weight: 700;
}
.input-score {
    width: 25%; 
    font-size: 15px;
    border: none;
    background-color: transparent;
    text-align: center;
}
select{
    width: 100%;
}

.student-scores td {
    padding: 8px; 
}
.form-select{
    width: 100% !important;
}