<div class="position-fixed top-0 end-0 p-3">
  <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Student added successfully.
      <button type="button" class="btn-close" (click)="hideAlert()" aria-label="Close"></button>
    </div>
  
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<form [formGroup]="ValidationFormUser">
  <h3>PERSONAL INFORMATION</h3>
  <input class="form-control" (input)="capitalizeFirstLetter($event, 'fname')" type="text" name="lrn" placeholder="Learner Reference Number (LRN)">

  <div class="fmname">
      <div class="input-container">
        <input class="form-control" (input)="capitalizeFirstLetter($event, 'fname')" type="text" name="fname" placeholder="First Name" formControlName="fname">
        
      </div>
      <div class="input-container">
        <input class="form-control" (input)="capitalizeFirstLetter($event, 'mname')" type="text" placeholder="Middle Name" name="mname" formControlName="mname">
      </div>
  </div>
  <div class="errordiv">
  <ng-container *ngFor="let validation of validationMessages.fname">
      <div class="error_message" *ngIf="ValidationFormUser.get('fname')?.hasError(validation.type) && (ValidationFormUser.get('fname')?.dirty || ValidationFormUser.get('fname')?.touched)">
      {{validation.message}}
      </div>
  </ng-container>
  </div>
    
  <div class="lname">
      <input class="form-control" (input)="capitalizeFirstLetter($event, 'lname')" type="text" name="lname" placeholder="Last Name" formControlName="lname">
      <ng-container *ngFor="let validation of validationMessages.lname">
          <div class="error_message" *ngIf="ValidationFormUser.get('lname')?.hasError(validation.type) && (ValidationFormUser.get('lname')?.dirty || ValidationFormUser.get('lname')?.touched)">
          {{validation.message}}
          </div>
      </ng-container>
  </div>
    
  <div class="address">
  <input class="form-control" (input)="capitalizeFirstLetter($event, 'address')" type="text" name="address" placeholder="Address" formControlName="address">
  <ng-container *ngFor="let validation of validationMessages.address">
      <div class="error_message" *ngIf="ValidationFormUser.get('address')?.hasError(validation.type) && (ValidationFormUser.get('address')?.dirty || ValidationFormUser.get('address')?.touched)">
      {{validation.message}}
      </div>
  </ng-container>
  </div>

  <div class="address">
  <input class="form-control" type="tel" name="phone" placeholder="Phone Number" formControlName="phone" inputmode="numeric" (input)="restrictNonNumeric($event)">
  <ng-container *ngFor="let validation of validationMessages.phone">
      <div class="error_message" *ngIf="ValidationFormUser.get('phone')?.hasError(validation.type) && (ValidationFormUser.get('phone')?.dirty || ValidationFormUser.get('phone')?.touched)">
      {{validation.message}}
      </div>
      <!-- <div class="error_message" *ngIf="phoneError">
      Incorrect number. Please enter a 11-digit phone number.
      </div> -->
  </ng-container>
  </div>
  <div class="fmname">
      <div class="input-container">
        <select label-placement="floating" fill="outline" label="Gender" class="form-control" name="gender" formControlName="gender" >
          <option value="" disabled selected>Gender</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
        <ng-container *ngFor="let validation of validationMessages.gender">
          <div class="error_message" *ngIf="ValidationFormUser.get('gender')?.hasError(validation.type) && (ValidationFormUser.get('gender')?.dirty || ValidationFormUser.get('gender')?.touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <div class="input-container">
        <div class="input-with-icon">
          <input class="form-control" type="date" formControlName="birthdate" name="birthdate" (change)="onDateChange($event)">
        </div>
      </div>
  </div>

  <div class="assigninfo">
      <label class="personalinfo">SECTION</label>
  </div>
  <div class="mb-2">
      <select label-placement="floating" 
        fill="outline" 
        label="Department" 
        class="form-control" 
        name="department" 
        formControlName="department"
        [(ngModel)]="selectedDepartment"
        (change)="onDepartmentChange(selectedDepartment)">
        <option [value]="null" disabled selected>Department</option>
        <option *ngFor="let department of departments" [value]="department?.id">{{ department?.name }}</option> 
      </select>
    <ng-container *ngFor="let validation of validationMessages.department">
        <div
            class="error_message"
            *ngIf="
            ValidationFormUser.get('department')?.hasError(validation.type) &&
            (ValidationFormUser.get('department')?.dirty || ValidationFormUser.get('department')?.touched)
            "
        >
            {{ validation.message }}
        </div>
    </ng-container>
  </div>
  <div class="fmname">
    <div class="input-container">
      
      <select label-placement="floating" 
      fill="outline" 
      label="Grade Level" 
      class="form-control" 
      name="gradelevel" 
      formControlName="gradelevel"
      [(ngModel)]="selectedGradeLevel"
        (change)="onGradeLevelChange(selectedGradeLevel, selectedDepartment)">
        <option [value]="null" disabled selected>Grade Level</option>
        <option *ngFor="let gradeLevel of gradeLevels" [value]="gradeLevel?.gradelvl_id">{{ gradeLevel.name }}</option>
      </select>
      <ng-container *ngFor="let validation of validationMessages.gradelevel">
        <div
          class="error_message"
          *ngIf="
            ValidationFormUser.get('gradelevel')?.hasError(validation.type) &&
            (ValidationFormUser.get('gradelevel')?.dirty || ValidationFormUser.get('gradelevel')?.touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div class="input-container-section">
      
      <select label-placement="floating" 
        fill="outline" 
        label="Section" 
        class="form-control" 
        name="section" 
        formControlName="section"
        [(ngModel)]="selectedSection"
        (ngModelChange)="clearSectionError()">
        <option [value]="null" disabled selected>Section</option>
        <option *ngFor="let section of sections" [value]="section?.section_id">{{section?.name}}</option>
      </select>
      <ng-container *ngFor="let validation of validationMessages.section">
        <div
          class="error_message"
          *ngIf="
            ValidationFormUser.get('section')?.hasError(validation.type) &&
            (ValidationFormUser.get('section')?.dirty || ValidationFormUser.get('section')?.touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

  </div>
  <div class="error_message" *ngIf="sectionAssignmentError">{{ sectionAssignmentError }}</div>

  


  <div class="accdeets">
    <label>ACCOUNT DETAILS</label>
  </div>
    
  <div class="email">
    <input class="form-control" type="email" name="email" placeholder="Email" formControlName="email" (ngModelChange)="clearEmailError()">
    <ng-container *ngFor="let validation of validationMessages.email">
      <div class="error_message" *ngIf="ValidationFormUser.get('email')?.hasError(validation.type) && (ValidationFormUser.get('email')?.dirty || ValidationFormUser.get('email')?.touched)">
        {{validation.message}}
      </div>
    </ng-container>
    <div *ngIf="emailExistsError" class="error_message">
      {{ emailExistsError }}
    </div>
    
  </div>
  <div class="pw">
    <input class="form-control" type="password" name="password" placeholder="Password" formControlName="password">
    <ng-container *ngFor="let validation of validationMessages.password">
      <div class="error_message" *ngIf="ValidationFormUser.get('password')?.hasError(validation.type) && (ValidationFormUser.get('password')?.dirty || ValidationFormUser.get('password')?.touched)">
        {{validation.message}}
      </div>
    </ng-container>
  </div>

  <div class="addstuddiv">
    <button class="btn addstudbutton" type="submit" [disabled]="!ValidationFormUser.valid" (click)="onSubmit()">Add Student</button>
  </div>
</form>