*{
    font-family: 'Poppins', sans-serif;
}

a{
    color: #000;
    margin-right: 3px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.next{
    margin-right: 3px;
}

.links .active{
    text-decoration: underline;
}
.progress-div{
    background-color: #ffff;
    padding: 30px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}
.h5-text{
    font-weight: 600;
}
.line{
    border: 1px solid gray;
}
.circle-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}
/* .rawscore-line{
    width: 1000px;
    height: 1000px;
} */

@media (max-width: 768px) {
    .classes {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .active{
        font-size: 14px;

    }
    .analytics-container{
        display: flex;
        flex-direction: column;
    }
    .progress-div{
        margin-top:5px ;
    }
    .circle-progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%; 
    }
    .rawscore-line{
        height: 300px !important;
        width: 300px !important;
    }

  }
