<div class="containerr">
    <div class="links d-flex">
        <a class="classes" [routerLink]="['/student/analytics']">Analytics </a>
        <p class="next">></p>
        <a class="active" [routerLink]="['/student/analytics/overall-performance']"><b>Overall Performance</b> </a>
    </div>
<!--     
    <select class="form-select shadow-none select-opt mb-2" [(ngModel)]="selectedQuarter" name="quarter" (ngModelChange)="onQuarterChange()">
        <option *ngFor="let quarter of quarters" [value]="quarter.quarter_id">{{quarter.quarter_name}}</option>
    </select> -->
    <div class="container-analytics">
        <div class="col-md-6">
            <div class="subject-card overall-average-container p-3 d-flex justify-content-center flex-column align-items-center">
                
                <div class="circle-text d-flex flex-column align-items-center">
                    <canvas id="honorPieChart" class="mb-5" width="400" height="1000"></canvas>
                   
                </div>
            </div>
        </div>
        <div class="col-md-6 subject-card overall-average-container p-3">
            <canvas id="subjectLineChart" width="400" height="300"></canvas>
        </div>

    </div>
</div>
