*{
    font-family: 'Poppins', sans-serif;
}
a{
    color: #000;
    margin-right: 3px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.next{
    margin-right: 3px;
}

.links .active{
    text-decoration: underline;
}
input[type="text"] {
    width: 30px; 
    font-size: 13px;
    border: none;
    background-color: transparent;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid #000; 
    text-align: center; 
    font-size: 13px;
}
th {
    background-color: #f2f2f2; 
    font-size: 17px;
}
th[rowspan="3"] {
    width: 60px; 
    font-size: 14px;
}
.hps{
    text-align: right;
    font-size: 12px;
}
.student-name{
    text-align: left;
}
tr:hover{
    background-color: rgb(225, 225, 235);
}
.tbl-headers{
    justify-content: space-between;
}

.select-opt{
    max-width: 200px;
}
.quarterly-grade{
    font-weight: bold;
}
.header{
    text-align: left;
    font-size: 15px;
}
.class-record{
    font-weight: 700;
}
@media print {
    @page {
        size: landscape; 
        margin:0.5cm;
        size: tabloid;
    }
    body * {
      display: none;
      margin: 0;
      background-color: white;
    }
    .printable-table {
        margin: 0;
    }
    button, .select-opt, .links, .subject-info {
        display: none !important;
    }
    .links, .next, .active, .summary, .classes{
        display: none !important;
    }
}