<div class="links d-flex">
  <a class="classes" [routerLink]="['/teacher/grades']">Classes </a>
  <p class="next">></p>
  <a class="active" [routerLink]="['/teacher/grades/section-grades', deptId, gradeLevelId, sectionId, subjectId, assignmentId]"><b>{{ gradeLevelName}} - {{ sectionName }} - {{subjectName}}</b></a>
  <p class="next">></p>
  <a class="summary" [routerLink]="['/teacher/grades/summary', deptId, gradeLevelId, sectionId, subjectId, assignmentId]">Summary of Quarterly Grades</a>

</div>




<ng-template #noSubjectSelected>
<p>No Subject Selected</p>
</ng-template>

<form (submit)="submitForm()">
  <div class="tbl-headers d-flex printable-content">
    <div class="buttons">
      <button class="btn btn-warning align-items-center shadow-none mb-2" type="button" (click)="toggleSortOrder()">
        <svg *ngIf="isSortingAZ" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
          <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
        </svg>
        <svg *ngIf="!isSortingAZ" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
          <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
        </svg>
        Sort
      </button>
    </div>
    <select class="form-select shadow-none select-opt mb-2" [(ngModel)]="selectedQuarter" name="quarter" (ngModelChange)="onQuarterChange()">
      <option *ngFor="let quarter of quarters" [value]="quarter.quarter_id">{{quarter.quarter_name}}</option>
    </select>
  </div>
  
<table #printableContent id="grades-table"  class="printable-table">
    <thead>
      <tr>
        <td colspan="33"><h2 class="class-record">CLASS RECORD</h2></td>
      </tr>
      <tr>
        <td class="header" colspan="11"><b>QUARTER:</b> {{ selectedQuarter }} - {{ getQuarterNameById(selectedQuarter) }}</td>
        <td class="header" colspan="11"><b>GRADE & SECTION:</b> {{ gradeLevelName}} - {{ sectionName }} </td>
        <td class="header" colspan="11"><b>SUBJECT: </b>{{ selectedSubject.subjectName }}</td>
      </tr>
      <tr>
        <th>No.</th>
        <th>LEARNERS' NAMES</th>
        <th colspan="13">WRITTEN WORKS ({{ calculationWWPercentage  }}%)</th>
        <th colspan="13">PERFORMANCE TASKS ({{ calculationPTPercentage }}%)</th>
        <th colspan="3">QUARTERLY ASSESSMENT({{ calculationQAPercentage }}%)</th>
        <th rowspan="3">Initial Grade</th>
        <th rowspan="3">Quarterly Grade</th>
        <th>Rank Status</th>
        <!-- <th rowspan="3">REMARKS</th> -->
      </tr>
      <tr>
        <td></td>
            <td></td>
            <td><b>1</b></td>
            <td><b>2</b></td>
            <td><b>3</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
            <td><b>8</b></td>
            <td><b>9</b></td>
            <td><b>10</b></td>
            <td><b>Total</b></td>
            <td><b>PS</b></td>
            <td><b>WS</b></td>

            <td><b>1</b></td>
            <td><b>2</b></td>
            <td><b>3</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
            <td><b>8</b></td>
            <td><b>9</b></td>
            <td><b>10</b></td>
            <td><b>Total</b></td>
            <td><b>PS</b></td>
            <td><b>WS</b></td>

            <td><b>1</b></td>
            <td><b>PS</b></td>
            <td><b>WS</b></td>
      </tr>
      <tr>
            <td></td>
            <td class="hps"><b>HIGHEST POSSIBLE SCORE</b></td>
            <td *ngFor="let hps of formData.writtenWorkHPS; let i = index; trackBy: trackByIndex">
              <input
                type="text"
                [(ngModel)]="formData.writtenWorkHPS[i]"
                [value]="updateTotalWrittenWorkHPS(i)"
                (input)="calculateWeightedScores()"
                [name]="'wwhps' + (i + 1)"
              />
            </td>
            <td class="WWtotalHPS"><b>{{ formData.totalWrittenWorkHPS || ''}}</b></td>
            <td><b>100</b></td>
            <td>
              <input
                type="text"
                [value]="selectedSubject.wwPercentage + '%'"
                (input)="calculateWeightedScores()"
                style="font-weight: bold;"
                name="wwhpsWSpercentage"
                readonly
              />
            </td>
            <td *ngFor="let hps of formData.performanceTaskHPS; let i = index; trackBy: trackByIndex">
              <input
                type="text"
                [(ngModel)]="formData.performanceTaskHPS[i]"
                [value]="updateTotalPerformanceTaskHPS(i)"
                [name]="'pthps' + (i + 1)"
              />
            </td>
            <td><b>{{formData.totalPerformanceTaskHPS || ''}}</b></td>
            <td><b>100</b></td>
            <td>
              <input
                type="text"
                name="pthpsWSpercentage"
                [value]="selectedSubject.ptPercentage + '%'"
                (input)="calculatePTWeightedScores()"
                style="font-weight: bold;"
                readonly
              />
            </td>

            <td><input type="text"  [(ngModel)]="formData.quarterlyAssessmentHPS" (input)="calculateQAWeightedScores()" name="qahps1"/></td>
            <td><b>100</b></td>
            <td>
              <input
                type="text"
                name="qahpsWSpercentage"
                [value]="selectedSubject.qaPercentage + '%'"
                (input)="calculateQAWeightedScores()"
                style="font-weight: bold;"
                readonly
              />
            </td>
      </tr>
      
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{ i + 1}}</td>
        <td class="student-name" >{{student.lname}}, {{student.fname}}</td>
        <td *ngFor="let wwScore of student.ww_scores; let j = index; trackBy: trackByIndex">
          <input
            type="text"
            [(ngModel)]="student.ww_scores[j]"
            (input)="updateWrittenWorkRS(student.id, j)"
            (input)="calculateWeightedScores()"
            [value]="calculateWeightedScores()"

            name="wwrs{{ i }}_{{ j }}" 
          />
        </td>       
        <td>{{student.totalWrittenWorkRS || ''}}</td>
        <td>
          <input
            *ngIf="calculateWWPercentageScore(student.id) !== 0"
            type="text"
            [value]="calculateWWPercentageScore(student.id)"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
            name="wwPS"
          />
          <span *ngIf="calculateWWPercentageScore(student.id) === 0"></span>
        </td>        
        <td>
          <input
            type="text"
            [value]="student.totalWrittenWorkWS || ''"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
            name="wwWS"
          />
        </td>

        <!-- PERFORMANCE TASK -->
        <td *ngFor="let ptScore of student.pt_scores; let j = index; trackBy: trackByIndex">
          <input
            type="text"
            [(ngModel)]="student.pt_scores[j]"
            (input)="updatePerfTaskRS(student.id, j)"
            (input)="calculatePTWeightedScores()"
            [value]="calculatePTWeightedScores()"
            name="ptrs{{ i }}_{{ j }}" 
          />
        </td>
        

        <td>{{student.totalPerfTaskRS || ''}}</td>
        <td>
          <input
            *ngIf="calculatePTPercentageScore(student.id) !== 0"
            type="text"
            [value]="calculatePTPercentageScore(student.id)"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
            name="ptPTS"
          />
          <span *ngIf="calculatePTPercentageScore(student.id) === 0"></span>
        </td>        
        <td>
          <input
            type="text"
            [value]="student.totalPerfTaskWS || ''"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
            name="ptWS"
          />
        </td>
        
        <!-- QUARTERLY ASSESSMENT -->
        <td><input type="text" [(ngModel)]="student.qa_score" (input)="updateQARawScore(student.id)" (input)="calculateQAWeightedScores()" [value]="calculateQAWeightedScores()" name="qa_score_{{student.id}}"/></td>
        <td>
          <input
            *ngIf="calculateQAPercentageScore(student.id) !== 0"
            type="text"
            [value]="calculateQAPercentageScore(student.id) || ''"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
            name="qaPS"
          />
          <span *ngIf="calculateWWPercentageScore(student.id) === 0"></span>
        </td> 
        <td>
          <input
            type="text"
            *ngIf="student.totalQuarterlyAssessmentWS !== undefined"
            [value]="student.totalQuarterlyAssessmentWS !== undefined ? student.totalQuarterlyAssessmentWS : ''"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
            name="qaWS"
          />
        </td>

        <td><input class="inigrade" type="text" *ngIf="calculateInitialGrade(student) !== 0" [value]="calculateInitialGrade(student)|| ''" readonly (click)="showStudentId(student.id)" /></td>
        <td>
          <input class="quarterly-grade" type="text" *ngIf="student.totalQuarterlyAssessmentWS !== undefined && student.totalQuarterlyAssessmentWS !== null && student.totalWrittenWorkWS !== undefined && student.totalPerfTaskWS !== undefined" [value]="student.quarterlyGrade !== undefined ? student.quarterlyGrade : ''" readonly name="quarterlyGrade"/>
        </td>
        <!-- <td [ngStyle]="{ 'background-color': getRank(student.quarterlyGrade) }">{{ getRankStatus(student.quarterlyGrade) }}</td> -->

      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary align-items-center mt-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
      <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5v-13Z"/>
      <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5V16Zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V0ZM9 1h2v4H9V1Z"/>
    </svg>
    Unveil Data</button>
  <button type="button" class="btn btn-success align-items-center shadow-none ml-2 mt-2" (click)="printTable()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
      <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
      <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
    </svg> Print
  </button>
</form>



<div class="position-fixed top-0 end-0 p-3">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showRawScoreAlert">
    <strong> Raw Score should be equal or less than HPS! </strong>
  </div>
</div>

<div class="position-fixed top-0 end-0 p-3">
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="saveAlert">
    <strong> Successfully Saved! </strong>
    <button type="submit" class="btn-close" (click)="hideAlert()" aria-label="Close"></button>
  </div>
</div>