<h1>High School Students</h1>

       
<div class="header-bar">
    <div class="form-group">
        <select class="form-select shadow-none select-opt" [(ngModel)]="selectedGradeLevel" (change)="getSections()">
            <option [value]="null" disabled>Select Grade</option>
            <option *ngFor="let level of gradelvl" [ngValue]="level">{{ level.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-select shadow-none select-opt" [(ngModel)]="selectedSection" (change)="manageStudents(selectedSection?.dept_id, selectedSection?.gradelvl_id, selectedSection.section_id)">
            <option [value]="null" disabled>Select Section</option>
            <option *ngFor="let section of sections" [ngValue]="section">{{ section.name }}</option>
        </select>
    </div>
    

    

    <button type="button" class="btn btn-custom d-flex align-items-center shadow-none form-group" data-bs-toggle="modal" data-bs-target="#addSection">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>        
        <span class="ms-2 align-middle">Add Student</span>
    </button>

    

</div>

<div class="modal fade" id="addSection" tabindex="-1" role="dialog" aria-labelledby="addSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSectionModalLabel">Add Student</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-student></app-add-student>
        </div>
        
      </div>
    </div>
  </div>

  <button class="btn btn-warning align-items-center shadow-none mb-2" (click)="toggleSortOrder()">
    <svg *ngIf="isSortingAZ" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
      <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
    </svg>
    <svg *ngIf="!isSortingAZ" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
      <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
    </svg>
    Sort
  </button>
  
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <!-- <th scope="col">Grade Level</th> -->
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Address</th>

        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="filteredStudent.length > 0">
        <tr *ngFor="let student of filteredStudent; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <!-- <td>{{ selectedGradeLevel?.name }}</td> -->
            <td>{{ student.lname }}</td>
            <td>{{ student.fname }}</td>
            <td>{{ student.mname }}</td>
            <td>{{ student.address }}</td>


            <td>
                <button (click)="editStudent(student)" class="btn btn-custom-edit align-items-center shadow-none" data-bs-toggle="modal" data-bs-target="#editSection">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square edit-icon" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>

                </button>
                <button (click)="deleteStudent(student.id)" class="btn btn-custom-delete align-items-center shadow-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3 trash-icon" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </button>
            </td>
        </tr>

    </tbody>

    <tbody *ngIf="selectedSection && filteredStudent.length === 0">
        <tr>
            <td colspan="7">No data found.</td>
        </tr>
    </tbody>
    <tbody *ngIf="!selectedGradeLevel && gradelvl.length > 0">
        <tr>
            <td colspan="7">Select Grade Level and Section</td>
        </tr>
    </tbody>
    <tbody *ngIf="selectedGradeLevel && !selectedSection ">
        <tr>
            <td colspan="7">Select Section</td>
        </tr>
    </tbody>

</table>

<!-- EDIT TEACHER MODAL -->

<div class="modal fade" id="editSection" tabindex="-1" role="dialog" aria-labelledby="editSectionModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editSectionModalLabel">Edit Student</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="position-fixed top-0 end-0 p-3">
                <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> Section updated successfully.
                    <button type="button" class="btn-close" (click)="hideAlert()" aria-label="Close"></button>
                </div>
              
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                  {{ errorMessage }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <form [formGroup]="form">
                <h3>PERSONAL INFORMATION</h3>
                <div class="fmname">
                    <div class="input-container">
                        <input class="form-control" type="text" name="fname" placeholder="First Name" formControlName="studentName">
                    
                    </div>
                    <div class="input-container">
                    <input class="form-control"  type="text" placeholder="Middle Name" name="mname" formControlName="studentMname">
                    </div>
                </div>
               
                
                <div class="lname">
                    <input class="form-control"  type="text" name="lname" placeholder="Last Name" formControlName="studentLname">
                </div>
                
                <div class="address">
                    <input class="form-control" type="text" name="address" placeholder="Address" formControlName="address">
                    
                </div>

                <div class="address">
                    <input class="form-control" type="tel" name="phone" placeholder="Phone Number" formControlName="phone" inputmode="numeric" >
                </div>

                <div class="fmname">
                    <div class="input-container">
                        <select label-placement="floating" fill="outline" label="Gender" class="form-control" name="gender" formControlName="gender" [(ngModel)]="selectedStudent.gender">
                            <option [ngValue]="null" disabled>Select Gender</option>
                            <option [ngValue]="'Female'">Female</option>
                            <option [ngValue]="'Male'">Male</option>
                        </select>
                        
                    </div>

                    <div class="input-container">
                        <div class="input-with-icon">
                            <input placeholder="Birthdate" class="form-control" type="date" name="birthdate" formControlName="birthdate">
                        </div>
                    </div>
                </div>

                <div class="assigninfo">
                    <label class="personalinfo">SECTION</label>
                </div>

                <div class="mb-2">
                    <div class="mb-2">
                        <select class="form-control" id="department" name="department" formControlName="department" [(ngModel)]="selectedStudent.department" (change)="onDepartmentChange()">
                            <option value="" disabled>Select Department</option>
                            <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
                        </select>
                </div>
            </div>
                <div class="fmname">
                    <div class="input-container">
                        <select class="form-control" id="gradeLevel" name="gradeLevel" formControlName="grlevel" [(ngModel)]="selectedStudent.gradelvl_id" (change)="onGradeLevelChange()">
                            <option value="" disabled>Select Grade Level</option>
                            <option *ngFor="let gradeLevel of gradeLevels" [value]="gradeLevel.gradelvl_id">{{ gradeLevel.name }}</option>
                          </select>
                      </div>
                    <div class="input-container-section">
                        <select class="form-control" id="section" name="section" formControlName="section" [(ngModel)]="selectedStudent.section_id" (ngModelChange)="clearSectionError()"> 
                            <option value="" disabled>Select Section</option>
                            <option *ngFor="let section of sections" [value]="section?.section_id">{{ section?.name }}</option>
                          </select>
                     </div>
                </div>
                <div class="error_message" *ngIf="sectionAssignmentError">{{ sectionAssignmentError }}</div>


                <div class="accdeets">
                    <label>ACCOUNT DETAILS</label>
                </div>
                
                <div class="email">
                    <input class="form-control" type="email" name="email" placeholder="Email" formControlName="email" readonly>

                </div>

            </form>             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveEditedSubject()">Save Changes</button>
        </div>
    </div>
</div>
</div>





