*{
    font-family: 'Poppins', sans-serif;
}

.text-header{
    font-weight: 700;
}
table{
    border-collapse: collapse; 
    width: 100%; 

    padding: 10px; 

    border: 1px solid #ddd;
    max-width: 100%; 
    overflow-x: auto;

}
table, th, td {
    border: 2px solid #000; 
    text-align: center; 
    font-size: 18px;
    padding: 8px; 

    border: 2px solid #ddd;
    text-align: center;
}
.generalave{
    font-size: 18px;

}
th {
    background-color: #f2f2f2; 
    font-size: 17px;
}
.subject-names{
    text-align: left; 
}
.quarter{
    padding: 5px;
}
.class-record{
    font-weight: 700;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 5px;
        font-size: 10px;
    }
    .quarterly-grade {
        font-size: 12px;
    }

    .class-record {
        font-size: 16px;
    }
    .subject-names{
        font-size: 12px;
    }
    .subject-names{
        font-size: 12px;

    }
    .generalave{
        font-size: 12px;
    }
}

/* Handle smaller screens and reduce padding for table cells */
@media (max-width: 576px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 3px;
    }
    .generalave{
        font-size: 12px !important;
    }
}