*{
    font-family: 'Poppins', sans-serif;
}

.nav-text{
    font-weight: 700;
}
.btn-custom{
    border-radius: 5px;
    background: var(--danger-color, #A70000);
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-right: 40px;
}

.person-image-contact {
    z-index: 1;
    width: 50%;
    margin-left: 250px;
}

.about-contact{
    font-weight: 700;
    text-align: center;
}

    
  