<h1>Senior High School</h1>

       
<div class="header-bar">
    <div class="form-group">
        <select class="form-select shadow-none select-opt" [(ngModel)]="selectedGradeLevel" (change)="manageClasses(selectedGradeLevel?.dept_id, selectedGradeLevel?.gradelvl_id)">
        <option [value]="null" disabled>Select Grade</option>
        <option *ngFor="let level of gradelvl" [ngValue]="level">{{ level.name }}</option>
        </select>
    </div>
    

    <div class="input-group form-outline form-group">
        <input type="search" id="form1" class="form-control search-bar" placeholder="Search" aria-label="Search"/>
        <span class="input-group-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        </span>
    </div>

    <button type="button" class="btn btn-custom d-flex align-items-center shadow-none form-group" data-bs-toggle="modal" data-bs-target="#addSection">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle custom-icon" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" stroke-width="2"/>
        </svg>
        <span class="ms-2 align-middle">Add Section</span>
    </button>

    

</div>

<div class="modal fade" id="addSection" tabindex="-1" role="dialog" aria-labelledby="addSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSectionModalLabel">Add Section</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-shssection></app-add-shssection>
        </div>
        
      </div>
    </div>
  </div>

  
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Grade Level</th>
        <th scope="col">Section</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="filteredSections.length > 0">
        <tr *ngFor="let section of filteredSections; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ selectedGradeLevel?.name }}</td>
            <td>{{ section.section_name }}</td>
            <td>
                <button (click)="editSection(section)" class="btn btn-custom-edit align-items-center shadow-none" data-bs-toggle="modal" data-bs-target="#editSection">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square edit-icon" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>

                </button>
                <button (click)="deleteSection(section.id)" class="btn btn-custom-delete align-items-center shadow-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3 trash-icon" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </button>
            </td>
        </tr>

    </tbody>
    <tbody *ngIf="!selectedGradeLevel && gradelvl.length > 0">
        <tr>
        <td colspan="4">Select Grade Level</td>
        </tr>
    </tbody>
    <tbody *ngIf="selectedGradeLevel && filteredSections.length === 0">
        <tr>
            <td colspan="4">No data found.</td>
        </tr>

    </tbody>
</table>

<!-- EDIT SECTION MODAL -->

<div class="modal fade" id="editSection" tabindex="-1" role="dialog" aria-labelledby="editSectionModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editSectionModalLabel">Edit Section</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="position-fixed top-0 end-0 p-3">
                <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> Section updated successfully.
                    <button type="button" class="btn-close" (click)="hideAlert()" aria-label="Close"></button>
                  </div>
              
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                  {{ errorMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <form [formGroup]="form">
                <div class="form-group">
                  <label for="editGradeLevel">Grade Level</label>
                  <select class="form-select shadow-none select-opt" formControlName="grlevel" [(ngModel)]="selectedSection.gradelvl_id">
                    <option disabled>Select Grade</option>
                    <option *ngFor="let level of gradelvl" [ngValue]="level.gradelvl_id">{{ level.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="editSectionName">Section Name</label>
                  <input type="text" class="form-control" id="editSectionName" formControlName="sectionName" required>
                </div>
              </form>             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveEditedSection()">Save Changes</button>
        </div>
    </div>
</div>
</div>





