*{
    font-family: 'Poppins', sans-serif;
}

.gradelevels{
    background-color: #eff1f1;
    margin-bottom: 10px;
    border-radius: 5px;
}

.text-div{
    padding:20px;   
}

.select-opt{
    width: auto;
    border-color: #ced4da;
    /* border: none;
    background-color: transparent; */
}

.form-group{
    margin-right: 30px;
}

.header-bar{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.input-group .input-group-text {
    border-left: none;
    background-color: white;
    border-color: #ced4da;
}
.input-group .form-control {
    border-right: none;
    box-shadow: none;
    border-color: #ced4da;
}

.input-group .form-control:focus {
    outline: none !important;
}

.input-group{
    width: 50%;
}

/* .addsection{
    margin-left: auto;
} */

.btn-custom{
    border-radius: 5px;
    background: var(--danger-color, #A70000);
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.custom-icon {
    font-weight: 800; 
}

.table.table-striped tbody tr:nth-child(odd) {
    background-color: #EBF6FF; 
}

.table td, .table th{
    text-align: center;
}

.edit-icon{
    color: white;
}

.btn-custom-edit{
    background-color: #0247FE;
}

.btn-custom-delete{
    background-color: #A70000;
    margin-left: 5px;
}

.trash-icon{
    color: white;
}


@media (min-width: 768px) {
    /* .select-opt{
        width: 10%;
    } */
}

/* @media (max-width: 767px) {
    .select-opt{
        width: 25%;
    }
} */

