<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
        <a class="logo" (click)="toggleCollapse()">
            <img src="assets/images/logo.png" alt="" width="30" height="30">
          </a>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">TLGA</div>

        <button class="btnclose" *ngIf="collapsed" @rotate (click)="closeSidenav()"> 
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <div class="name">
        <p class="name-text" @fadeInOut *ngIf="collapsed">{{teacherInfo.lname}}, {{teacherInfo.fname}}</p>
        <p class="subname-text" @fadeInOut *ngIf="collapsed">{{gradelevel}} - {{section}}</p>
        <p class="subsubname-text" *ngIf="collapsed">Teacher</p>


    </div>

    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor = "let data of navData">
                <a class="sidenav-nav-link" (click)="handleclick(data)"
                    *ngIf = "data.items && data.items.length > 0"
                    [ngClass]="getActiveClass(data)">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
                    <i *ngIf = "data.items && collapsed" class="menu-collapse-icon"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right':'fal fa-angle-down'"></i>
                        
                </a>

                <a class="sidenav-nav-link" 
                    (click)="setSelectedDepartment(data)"
                    *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
                </a>
                
                
                <div *ngIf="collapsed && data.items && data.items.length > 0 ">
                    <app-teacher-sublevel-menu
                        [data]="data"
                        [collapsed]="collapsed"
                        [multiple]="multiple"
                        [expanded]="data.expanded">
                    
                    </app-teacher-sublevel-menu>
                </div>

            </li>
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" (click)="logout()">
                    <i class="sidenav-link-icon fa-solid fa-right-from-bracket"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Logout</span>
                </a>
            </li>
        </ul>
    </div>

</div>