

   <form [formGroup]="form">
    <div class="teacher-fullname mb-4">
      <h4>{{ teacherData.lastName }}, {{ teacherData.firstName }}</h4>
    </div>

      <div class="addsubjdiv">
          <button class="btn addsubj" (click)="addSubject()"><i class="bi bi-plus-circle-fill"></i> Add Subject</button>
      </div>
      

      
      <div formArrayName="assignments">
          <div *ngFor="let assignment of assignments.controls; let i = index" [formGroupName]="i">
              <div class="assigninfo">
                  <label class="personalinfo"> ASSIGN SUBJECT</label>
              </div>
              <select class="form-control" id="assdepartment" name="department" formControlName="department" (click)="onDepartmentChange(i)">
                <option value="" selected disabled>Department</option>
                <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
              </select>
              
            <div class="container-ass">
              <div class="input-container">
                <select class="form-control" id="assgradeLevel" name="gradeLevel" formControlName="grlevel" (click)="onGradeLevelChange(i)">
                  <option value="" disabled>Grade Level</option>
                  <option *ngFor="let gradeLevel of assignmentData[i].gradeLevels" [value]="gradeLevel.gradelvl_id">{{ gradeLevel.name }}</option>
                </select>
                
              </div>
              <div class="input-container">
                  <select class="form-control" id="asssection" name="section" formControlName="section">
                      <option value="" disabled>Section</option>
                      <option *ngFor="let section of assignmentData[i].sections" [value]="section?.section_id">{{ section?.name }}</option>
                    </select>
              </div>
              <div class="input-container">
                <select class="form-control" id="subject" name="subject" formControlName="subject" >
                    <option value="" disabled>Subject</option>
                    <option *ngFor="let subject of assignmentData[i].subject" [value]="subject?.subject_id">{{ subject?.subject_name }}</option>
                  </select>
            </div>
                
            </div>
            <button class="btn btn-danger custom-btn" (click)="removeAssignment(i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>                              
          </button>
            
          </div>
        </div>
        

  </form> 
  

<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary" (click)="assignSubject()">Assign Subject</button>
</div>